<style type="text/css">
  .Content{
   margin-top:10%; 
    height:100%;
    text-align: center;  
  }

.card{  background-color: #ffffffba;   }


</style>


<div class="Content" >
<div class="row">
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
    Registrar Tipodehabitaciones
  </button>
</div>
<h2>Tipodehabitaciones Resgistradas</h2>
  <div class="card">
    
    <div class="card-body">
      <div class="container">
      <table  class="table" align="center">
       <thead>
       <tr> 
          <th>Tipodehabitaciones</th>
         
     </tr>
   </thead>
<tbody>
 <tr ng-repeat="T in habitaciontipo">
  <td>{{T.tipo}}</td>
   </tr> 

</tbody>

 </table>
</div>
</div> 
    
  </div>
</div>

 </div>


 <!-- The Modal -->
  <div class="modal fade" id="myModal">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Registro Tipodehabitaciones</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
       <div class="container">
  
  <form id="Registrartipohabitacion">
    <div class="form-group" id="ciudadestext">
      <label for="pwd">Tipodehabitaciones:</label>
      <input type="text" class="form-control"  placeholder="Enter  Tipodehabitacion" name="Tipodehabitacion">
    </div>

 
    <button type="button" class="btn btn-primary"ng-click="Registrartipohabitacion()">Registrar Tipodehabitacion</button>
  </form>
</div>
   
       

        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
         
        </div>
        
      </div>
    </div>
  </div>
 